.quick_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
}

.top_input {
    display: flex;
    background-color: rgb(255, 255, 255);
    padding: 2px;
    border-style: groove;
    border-radius: 5px;
    input {
        width: 70%;
    }
    button {
        margin-left: auto;
        background-color: rgb(229, 112, 29);
        color: white;
    }
}

.field_nav {
    display: flex;
    gap: 20px;
    div {
        cursor: pointer;
    }
}

.request_div {
    height: 42lvh;
}