.headers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.headers td, .headers th {
  border: 1px solid #ddd;
  padding: 8px;
  height: 20px;
}

// .headers tr:hover {background-color: #ddd;}

.headers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  // background-color: #04AA6D;
  color: white;
}

.desc_div {
  background-color: black;
  width: 100%;
  display: flex;
  button {
    margin-left: auto;
  }
}