.response_nav {
    display: flex;
    gap: 10px;

    div {
        cursor: pointer;
    }
}

.response_container {
    width: 100%;
}

.body_container {
    white-space: pre-line;
    overflow: scroll;
    pre {
        white-space: pre-wrap;
    }
}

.response_section {
    height: 20vh;
    width: 100%;
    overflow-y: auto;
}


.headers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.headers td, .headers th {
  border: 1px solid #ddd;
  padding: 8px;
  height: 20px;
}

.headers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: white;
}