.response_nav {
    display: flex;
    gap: 10px;

    div {
        cursor: pointer;
    }
}

.response_container {
    width: 100%;
}

.response_section {
    height: 20vh;
    width: 100%;
    overflow-y: auto;
}