.response_nav {
    display: flex;
    gap: 10px;

    .active {
      border-bottom: 0.5px solid rgb(223, 101, 26);
    }
    div {
        cursor: pointer;
    }
}

.response_container {
    width: 100%;
}

.body_container {
    white-space: pre-line;
    overflow: scroll;
    pre {
        white-space: pre-wrap;
    }
}

.response_section {
    height: 35lvh;
    width: 100%;
    overflow-y: auto;
}


.headers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.headers td, .headers th {
  border: 1px solid #ddd;
  padding: 8px;
  height: 20px;
}

.headers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: rgb(0, 0, 0);
}

.metrics {
  display: flex;
  gap: 20px;
}