.main_container {
    width: 100%;
    height: 97vh;
    display: flex;
    overflow: hidden;
}

.app {

}

.app_bar {
    height: 40px;
    background-color: #d9d9d9;
}

.side_nav {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 70px;
    padding: 15px;
    border-right: 1px thin #fff;
    background-color: #eeeeee; 
    div {
        font-size: 12px;
        cursor: pointer;
        padding: 5px 20px;
        &:hover {
            background-color: #4a4a4a;
        }
    }
}

.child_div {
    width: 100%;
}