.main_container {
    width: 100%;
    height: 100lvh;
    display: flex;
}

.side_nav {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 10vw;
    padding: 15px;
    background-color: #f0f0f0;
}

.history_item {
    display: flex;
    gap: 10px;
    cursor: pointer;
    font-size: 12px;
    padding: 5px 20px;
    text-overflow: clip;
    &:hover {
        background-color: #dfdfdf;
    }
}

.child_div {
    padding: 20px;
    flex-grow: 1;
}